.table{
  display: inline-table;
  border-collapse: collapse;
  text-align: left;
  width : 80%;
  border : 1px solid #2D3319;
  font-family : Verdana, Trebuchet MS, Times New Roman;
}

.table td, .table th {
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #D6E5E3;
  color: #2D3319;
}

a:link {text-decoration: none; color: #2D3319;}
a:visited {text-decoration: none; color: #2D3319;}
a:hover {text-decoration: none; color: inherit; font-weight: bolder; }
a:active {text-decoration: none; color: #2D3319;}

p {
  color : #2D3319;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family : Verdana, Trebuchet MS, Times New Roman;
  font-size : 20px;
}

input[type=submit], input[type=button], input[type=reset]{
  cursor: pointer;
  border-width : thin;
  border-radius: 10px;
  margin: 15px 5px;
  padding: 10px 12px;
  background-color : #D6E5E3;
  font-size : 15px;
}

input[type=submit]:hover {
  background-color: #9FD8CB;
}

input[type=button]:hover {
  background-color: #9FD8CB;
}

input[type=text],input[type=date],input[type=number]  {
  border : none;
  border-bottom: 1px solid #2D3319;
  margin: 10px 5px;
  padding: 10px 12px;
}

input[type=text]:focus {
  border:1px solid #2D3319;
}

input[type=date]:focus {
  border:1px solid #2D3319;
}

input[type=number]:focus {
  border:1px solid #2D3319;
}
textarea {
    padding: 10px;
    margin : 10px 2px;
    line-height: 1.5;
    border-radius: 10px;
    border: 1px solid #2D3319;
    resize : none;
}

img{
  max-width: 45%;
  height: auto;
}

label {
  color : #2D3319;
  font-family : Verdana, Trebuchet MS, Times New Roman;
  font-size : 20px;
  line-height: 50px;
}
